@charset 'utf-5';

@mixin ablum_cover {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* 배경이미지박스 */
.bgbx {
  position: absolute;
  width: 100%;
  height: 100%;
  // background: url(../../00.data/02.imgData/album/alb0.jpg);
  // background-size: 100% 100%;
  // filter: blur(6px) brightness(80%);
}

/* 배너전체박스 */
.banbx {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateY(-50%);
}

/* 배너컨텐츠박스 */
.bancont {
  position: relative;
  height: 360px;
  left: 5vw;
  top: -30%;
  aspect-ratio: 1/0.55;
}

.album_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
  display: flex;
  gap: 3vh 0;
}

/* 대상 슬라이드 */
.album_set {
  display: flex;
  height: 100%;
  flex-shrink: 0;
  cursor: pointer;
}

/* 우측 CD */
.album_cd1,
.album_cd2,
.album_cd3,
.album_cd4,
.album_cd5,
.album_cd6,
.album_cd7 {
  width: 360px;
  height: 100%;
  left: -112px;
  position: absolute;
  transform: translateX(73%);
  border-radius: 50%;

  /* CD 흰색 테두리 */
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    border: 8px solid #fff;
    box-sizing: border-box;
  }

  /* CD 이미지 */
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  > .cd_center_circle {
    position: absolute;
    height: 16%;
    width: 60px;
    left: 50%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: 12px solid rgb(250, 250, 250);
    top: 50%;
    transform: translate(-50%, -50%);

    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px inset;
      transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
      border: 8px solid rgb(238, 236, 235);
      box-sizing: border-box;
    }
  }
}

/* 좌측 Album */
.album_cover1 {
  @include ablum_cover;
  background-color: pink;
}

.album_cover2 {
  @include ablum_cover;
  background-color: #222;
}

.album_cover3 {
  @include ablum_cover;
  background-color: #da9438;
}

.album_cover4 {
  @include ablum_cover;
  background-color: #cc372b;
}

.album_cover5 {
  @include ablum_cover;
  background-color: #f7ba20;
}

.album_cover6 {
  @include ablum_cover;
  background-color: #c26fdc;
}

.album_cover7 {
  @include ablum_cover;
  background-color: #373736;
}

.album_cover_inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 앨범 하단 출시년도 */
.release_date {
  color: #ffff;
  bottom: 0;
}

/* 앨범명 */
em {
  font-size: 54px;
  font-weight: 300;
  color: white;
}

/* 앨범우측 저작권자 */
.original_author {
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  color: #fff;

  span {
    display: block;
  }
}

/* 원형 네비 메뉴바 */
.circular_nav {
  position: absolute;
  top: 300px;
  right: 5px;
}

.circular_nav.active .nav_content > span {
  transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
  opacity: 1;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);

  > span {
    position: absolute;
    transition: all .6s ease;
    opacity: 0;
  }

  > span > a {
    transform: rotate(45deg);
  }

  > span > a > i {
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg / -8)))
  }

  > .toggle_btn,
  > span {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 원형 네비 메뉴 토글러 */
  .toggle_btn {
    font-size: 35px;
    color: #0e2431;
    z-index: 1;
    cursor: pointer;
    transition: all .5s ease;
    transform: rotate(45deg);
  }

  .toggle_btn.active {
    transform: rotate(90deg);
  }
} 

/* 플레이리스트 */
.msplayer .item {
  padding: 10px 0;
  border-top: 2px solid transparent;

  * {
    pointer-events: none;
  }

  .dragstart {
    opacity: 0.5;
  }

  .dragover {
    border-top-color: green;
  }
}

