@charset "utf-8";

/* 웹&앱PJ 메인페이지 CSS - main.css */

/*************** 메인영역 ***************/
main {
  padding-top: 80px;
}

/******* section1 *******/
/* 배너영역 - 스와이퍼 */
#main_banner {
  position: relative;
}

#main_banner .swiper {
  width: 100%;
  height: 85vh;
}

.swiper-slide img, .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
  color : rgba(255,255,255, 0.8);
}

.swiper-horizontal >.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  top: auto;
  bottom: 5%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgba(255,255,255, 0.8);
}

/******* section2 *******/
#bestbx {
  position: relative;
  width: 100%;
  height: 552px;
}

.btwrap {
  padding-top: 100px;
  position: absolute;
  display: flex;
  width: 100%;
}