@charset 'utf-8';

@mixin ablum_cover {
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
    z-index: 90;
}

body {
    height: 100vh;
}

/* 배경이미지박스 */
.bgbx {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: url(../../00.data/02.imgData/album/alb0.jpg);
    // background-size: 100% 100%;
    // filter: blur(6px) brightness(80%);
}

/* 배너전체박스 */
.banbx {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateY(-50%);
}

/* 배너컨텐츠박스 */
.bancont {
    position: relative;
    height: 360px;
    left: 5vw;
    top: -30%;
    aspect-ratio: 1/0.55;
}

.album_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    flex-direction: column;
    display: flex;
    gap: 3vh 0;
}


/* 대상 슬라이드 */
.album_set {
    display: flex;
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;
}

/* 우측 CD */
.album_cd1, .album_cd2, .album_cd3,
.album_cd4, .album_cd5, .album_cd6, .album_cd7 {
    width: 360px;
    height: 100%;
    left: -112px;
    position: absolute;
    transform: translateX(73%);
    border-radius: 50%;

    /* CD 흰색 테두리 */
    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
        border: 8px solid #fff;
        box-sizing: border-box;
    }

    /* CD 이미지 */
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    > .cd_center_circle {
        position: absolute;
        height: 16%;
        width: 60px;
        left: 50%;
        margin: 0;
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        border: 12px solid rgb(250, 250, 250);
        top: 50%;
        transform: translate(-50%,-50%);
    
        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px inset;
            transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
            border: 8px solid rgb(238, 236, 235);
            box-sizing: border-box;
        }
    }
}

/* 좌측 Album */
.album_cover1 {
    @include ablum_cover;
    background-color: pink;
}

.album_cover2 {
    @include ablum_cover;
    background-color: #222;
}

.album_cover3 {
    @include ablum_cover;
    background-color: #da9438;
}

.album_cover4 {
    @include ablum_cover;
    background-color: #cc372b;
}

.album_cover5 {
    @include ablum_cover;
    background-color: #f7ba20;
}

.album_cover6 {
    @include ablum_cover;
    background-color: #c26fdc;
}

.album_cover7 {
    @include ablum_cover;
    background-color: #373736;
}

.album_cover_inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 앨범 하단 출시년도 */
.release_date {
    color: #ffff;
    bottom: 0;
}

/* 앨범명 */
em {
    font-size: 54px;
    font-weight: 300;
    color: white;
}

/* 앨범우측 저작권자 */
.original_author {
    font-size: 12px;
    font-weight: 100;
    text-align: right;
    color: #fff;

    span {
        display: block;
    }
}

/* 원형 네비게이션 메뉴바 */
.menu-toggler {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }

  .menu-toggler:checked + label {
    background: transparent;
  }

  .menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }
  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  }
  .menu-toggler:checked ~ ul .menu-item { 
    opacity: 1;
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
    transform: rotate(240deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
    transform: rotate(300deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item a {
    pointer-events:auto;
  }
  .menu-toggler + label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: #ccc;
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu-toggler + label:before,
  .menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2px;
    background: #ccc;
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }
  .menu-toggler + label:before {
    top: 10px;
  }
  .menu-toggler + label:after {
    top: -10px;
  }
  .menu-item:nth-child(1) i {
    transform: rotate(0deg);
    content: '/f015';
    font-weight: 900;
  }
  .menu-item:nth-child(2) i {
    transform: rotate(-60deg);
    content: '/f007';
    font-weight: 900;
  }
  .menu-item:nth-child(3) i {
    transform: rotate(-120deg);
    content: '/f030';
    font-weight: 900;
  }
  .menu-item:nth-child(4) i {
    transform: rotate(-180deg);
    content: '/f03d';
    font-weight: 900;
  }
  .menu-item:nth-child(5) i {
    transform: rotate(-240deg);
    content: '/f001';
    font-weight: 900;
  }
  .menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
  }
  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(230, 230, 250, 0.7);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    background: red;
    font-size: 44.44px
  }