@charset 'utf-8';

/* 배경이미지 */
.bgbx {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../../00.data/02.imgData/album/bg/alb0.png);
    aspect-ratio: 1/1;
    // background-size: 100% cover;
    background-repeat: no-repeat;
}