@charset 'utf-8';

.bgbx {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../../00.data/02.imgData/album/alb0.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(6px) brightness(80%);
}