@charset "utf-8";

/* 공통 css 셋팅 */
@import url(./reset.css);
@import url(./font.css);

:root {
    --mcolor-w: #fff;
    --mcolor-b: #000;
    --notos-font: 'Noto Sans KR';
    --mont-font: 'Montserrat';
    --gothic-font: 'Malgun Gothic Boot', sans-serif;
    --work-font: 'Work Sans', sans-serif;
    --pop-font: 'Poppins', sans-serif;
}

/***************** A. 상단영역 *****************/
body {
    position: relative;
    width: 100%;
    height: 100%;
}

#top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

.top {
    position: relative;
    padding: 0 30px;
    height: 90px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/* GNB 메뉴 */
.gnb {
    margin-left: 50px;
}

.gnb > ul {
    display: flex;
    gap: 0 30px 
}

.gnb > ul > li > a {
    position: relative;
    font-size: 15px;
    font-family: var(--pop-font);
}

.menu_banner {
    width: 45%;
}

.gnb_draw_select {
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 60px 0;
    z-index: 10;
    /* box-shadow: 0 3px 3px rgba(0,0,0,0.15); */
}

.draw_inner {
    margin: 0 auto;
    display: flex;
    gap: 0 60px;
    max-width: 860px;
}


.menu_list {
    width: 55%;
}

.menu_list > ul {
    width: 100%;
    /* display: inline-block; */
    display: flex;
}

.menu_list > ul > li {
    float: left;
    width: 170px;
    margin-right: 46px;
}

.menu_list > ul > li > .tit_2 {
    position: relative;
    display: block;
    padding: 0 0 7px 0;
    margin-bottom: 14px;
    /* font-family: 'aritaSB'; */
}

.menu_list > ul > li > .tit_2::before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #a5a298;
}

.menu_list > ul > li > ul > li {
    margin-bottom: 12px;
    font-size: 14px;
}

.menu_banner > ul > li:first-child {
    margin-left: 0;
}

.menu_banner > ul > li {
    display: inline-block;
    margin-left: 30px;
    width: 44.2%;
}

.menu_banner > ul > li p {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

/* 로고 */
.top_wrap > .logo > a > img {
    vertical-align: bottom;
}

/* 마이페이지 메뉴 */
.header_top_personal_menu > ul > li > a {
    background: url(../images/02.imgData/ico_common.png) no-repeat;
    display: block;
    width: 40px;
    height: 40px;
}

.header_top_personal_menu > ul > li:nth-child(2) > a {
    background-position: -40px 0;
} 

.header_top_personal_menu > ul > li:nth-child(3) > a {
    background-position: -80px 2px;
}

.header_top_personal_menu > ul > li:nth-child(4) > a {
    background-position: -120px 0;
}

/* 키워드 검색메뉴 */
.search-input-wrap {
    position: absolute;
    top: 25%;
    z-index: 999;
    right: 177px;
    background: #fff;
    width: 580px;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0);
    padding: 0 56px 20px;
    display: none;
}

.search-input-cont-inner {
    position: relative;
    display: flex;
    padding: 20px 0;
}

.search-close-btn {
    border-top: 1px solid #e9e9ed;
    margin: 0 -56px;
}

.search-close-btn > a {
    position: relative;
    float: right;
    font-size: 13px;
    color: #767676;
    padding-right: 32px;
    transform: translateY(50%);
}

.search-close-btn > a::after {
    content: '';
    position: absolute;
    background: url(../images/02.imgData/ico_common.png) no-repeat -175px -104px;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.search-input-wrap > form > a {
    position: absolute;
    background: url(../images/02.imgData/ico_common.png) no-repeat 0 0;
    right: 20px;
    width: 40px;
    height: 40px;
}

.search-input-wrap > form > label,
.search-input-wrap > form > label > input {
    font-size: 15px;
}

.search-input-wrap > form > label > input {
    border-bottom: 2px solid #191919;
    width: 100%;
    height: 31px;
}

.search-input-wrap > form {
    width: 450px;
}
.latest-search-word-bx > dl {
    border-right: 1px solid #e9e9ed;
    padding-right: 30px;
    min-width: 200px;
    min-height: 395px;
}

.popular-search-word-bx > dl {
    width: 262px;
    height: 395px;
    padding-left: 30px;
}

.search-input-cont-inner dt {
    font-size: 16px;
    font-weight: 700;
    color: #191919;
    font-family: var(--notos-font1);
    margin-bottom: 20px;
}

.hot-keyword li+li {
    margin-top: 10px;
}

.hot-keyword li > a > em,
.hot-keyword li > a {
    font-size: 13px;
    font-weight: 600;
    font-family: var(--notos-font1);
    font-style: normal;
    color: #444;
}

.hot-keyword li > a > em {
    padding-right: 5px;
}

.user-input-value {
    height: 350px;
}

.delete-contents > a {
    position: relative;
    color: #767676;
    font-size: 13px;
    float: right;
    padding-left: 20px;
}

.delete-contents > a::after {
    content: '';
    position: absolute;
    left: 0;
    background: url(../images/02.imgData/ico_common.png) no-repeat -239px -104px;
    width: 18px;
    height: 18px;
    top: 2px;
}

.real-time-rank span {
    position: absolute;
    right: 0;
}


.btn_bind_title {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    overflow: hidden;
}

.header_top_personal_menu{
    margin-left: auto;
}

.header_top_personal_menu > ul > li {
    display: inline-block;
    margin-left: 20px;
}

/********* 서브메뉴 공통 *********/
.cat_left_side_tab {
    float: left;
    width: 208px;
}

.cat_left_side_tab > h2 {
    font-size: 26px;
    font-family: var(--mont-font1);
    font-weight: 700;
    margin: 0 0 12px 10px;
}

.cat_left_side_tab > .ctg_link {
    padding: 20px 12px 30px;
}

.cat_left_side_tab > .ctg_link a,
.cat_left_side_tab > .ctg_nav .ctg_depth1 span {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--notos-font1);
    line-height: 28px;
}

.cat_left_side_tab > .ctg_link > ul > li+li,
.cat_left_side_tab > .ctg_nav > ul > li+li {
    margin-top: 20px;
}

.ctg_depth1 > div {
    position: relative;
}

.cat_left_side_tab > .ctg_link em {
    font-style: normal;
    font-size: 15px;
    color: #FF1E00;
    vertical-align: top;
    font-weight: 500;
    font-family: var(--mont-font1);
}

.cat_left_side_tab > .ctg_nav {
    padding: 10px 0 0 12px;
    border-top: 1px solid #F1F1F1;
}

.ctg_nav > ul > li,
.ctg_link > ul > li  {
    position: relative;
    cursor: pointer;
}

.ctg_nav > ul > li > div > a::after {
    content: '';
    position: absolute;
    background: url(../images/02.imgData/ico_common.png) no-repeat -62px -115px;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}

.ctg_depth2 > ul > li > a {
    color: #666;
    font-size: 14px;
    line-height: 30px;
    display: block;
}

.ctg_depth2 > ul > li {
    position: relative;
}

.ctg_depth2 > ul > li > a::after {
    content: '';
    position: absolute;
    background: url(../images/02.imgData/ico_common.png) no-repeat -102px -98px;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}

.ctg_depth2 {
    /* display: none; */
    margin: 18px 0;
}

.ctg_depth1 > div.slide-down > a::after {
    background-position: -72px -115px;
}

/* 타겟 서브페이지 */
.cont > section {
    margin-top: 90px;
}

.ctg_nav > ul > li > div > a::after {
    content: '';
    position: absolute;
    background: url(../images/02.imgData/ico_common.png) no-repeat -62px -115px;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}

