@charset "utf-8";

/* 웹&앱PJ 메인페이지 CSS - main.css */

/*************** 메인영역 ***************/
main {
  position: relative;
}

/******* section1 *******/
/* 비디오박스 */
#vidbx {
  /* 부모박스 */
  position: relative;
  width: 100%;
  height: 100vh;
}

.vidslide {
  position: absolute;
  display: flex;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  cursor: move;
  /* 드래그방지 */
  app-region: no-drag;
  user-select: none;
  -webkit-user-drag: none;
}

.vidslide li {
  position: relative;
  /* 등분할 */
  flex: 1;
}

/* 비디오 공통클래스 */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 블릿박스 */
.indic {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 15px;
}

.indic li {
  display: inline-flex;
  flex: 1;
  /* 두께 */
  height: 7px;
  /* 사이간격 */
  margin: min(1vw, 10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

/* 클래스 on */
.indic li.on .bid {
  width: 0;
  opacity: 0.7;
}

.bid {
  display: inline-block;
  /* 프로그레스바 */
  width: 0;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: 0.3s ease-out;
}

/* 슬라이드 커버 */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

/******* section2 *******/
#bstbx {
  position: relative;
  width: 100%;
  height: 552px;
  background-color: var(--aromatica-color-sub);
}

.bstwrap {
  padding-top: 100px;
  position: absolute;
  display: flex;
  width: 100%;
}

/* 텍스트 공통박스 */
.tit {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  margin-left: 5%;
  width: 450px;
  height: 100%;
  color: #333;
}

.tit > h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

.tit > h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

.tit > p {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
}

/* 제품 모두보기 공통박스  */
.morebtn {
  font-size: 1.4rem;
  width: 150px;
  height: 40px;

  margin-top: 50px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  transition: 0.3s ease-out;
  cursor: pointer;
}

.morebtn:hover {
  background-color: var(--aromatica-color-main);
}

.morebtn:hover span,
.morebtn:hover span i {
  color: #fffef2;
}

.morebtn span {
  display: inline-block;
  text-align: center;
  color: #333;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-weight: 500;
}

.morebtn span i {
  font-size: 1.2rem;
  padding-left: 15px;
  color: #333;
}

.ban {
  width: 100%;
}

/* 텍스트박스 */
.txtarea {
  text-align: center;
  position: relative;
  top: 10px;
  font-size: 1.4rem;
  line-height: 2;
  color: #333;
}

/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 450px;
  aspect-ratio: 1/1.3;
}

.swiper-slide > img {
  position: relative;
  display: block;
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
}
