@charset "utf-8";

/* 웹&앱PJ 메인페이지 CSS - main.css */

/*************** 메인영역 ***************/
main {
  position: relative;
}

/******* section1 *******/
/* 비디오박스 */
#vidbx {
  /* 부모박스 */
  position: relative;
  width: 100%;
  height: 100vh;
}

.vidslide {
  position: absolute;
  display: flex;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  cursor: move;
  /* 드래그방지 */
  app-region: no-drag;
  user-select: none;
  -webkit-user-drag: none;
}

.vidslide li {
  position: relative;
  /* 등분할 */
  flex: 1;
}

/* 비디오 공통클래스 */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 블릿박스 */
.indic {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 15px;
}

.indic li {
  display: inline-flex;
  flex: 1;
  /* 두께 */
  height: 7px;
  /* 사이간격 */
  margin: min(1vw, 10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

/* 클래스 on */
.indic li.on .bid {
  width: 0;
  opacity: 0.7;
}

.bid {
  display: inline-block;
  /* 프로그레스바 */
  width: 0;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: 0.3s ease-out;
}

/* 슬라이드 커버 */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
