/* 이미지 등장액션 */
.image-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hidden {
    position: absolute;
    opacity: 0;
}

.img1 {
    width: 23%;
    bottom: 30%;
    right: 50%;
    z-index: 1;
    animation: moveCenter1 .2s ease-out forwards;
    animation-delay: .5s;
}

.img2 {
    width: 18%;
    right: 45%;
    bottom: 5%;
    z-index: 2;
    animation: moveCenter2 .2s ease-out forwards;
    animation-delay: 1s;
}

.img3 {
    width: 23%;
    left: 50%;
    bottom: 10%;
    z-index: 3;
    transform: translate(-50%, 0) rotate(-5deg);
    animation: moveCenter3 .2s ease-out forwards;
    animation-delay: 1.5s;
}

.img4 {
    width: 18%;
    top: 55%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%,-50%) rotate(5deg);
    animation: moveCenter4 .2s ease-out forwards;
    animation-delay: 2s;
}

@keyframes moveCenter1 {
    from {
        right: 0;
        bottom: 0;
        transform: translate(0, 0) rotate(0deg);
        opacity: 0;
    }
    to {
        right: 50%;
        bottom: 30%;
        transform: translate(50%, 0) rotate(7deg);
        opacity: 1;
    }
}

@keyframes moveCenter2 {
    from {
        right: 0;
        bottom: 0;
        transform: translate(0, 0) rotate(0deg);
        opacity: 0;
    }
    to {
        right: 48%;
        bottom: 5%;
        transform: translate(45%, 0) rotate(-3deg);
        opacity: 1;
    }
}

@keyframes moveCenter3 {
    from {
        left: 0;
        bottom: 0;
        transform: translate(0, 0) rotate(0deg);
        opacity: 0;
    }
    to {
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, 0) rotate(-5deg);
        opacity: 1;
    }
}

@keyframes moveCenter4 {
    from {
        top: 0;
        left: 0;
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    to {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -55%) rotate(5deg);
        opacity: 1;
    }
}

/* 화살표 애니 */
.scroll-indicator {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    opacity: 0;
    z-index: 9999;
  }
  .scroll-indicator.is-visible {
    opacity: 1;
  }
  .scroll-indicator__bar {
    width: 3px;
    height: 3rem;
    background-color: white;
    margin-bottom: 1rem;
    animation: scrollBar 1s ease-in-out infinite;
  }
  .scroll-indicator__arrow {
    width: 1.75rem;
    height: 2.75rem;
    margin-top: auto;
    fill: white;
    transform-origin: 50% 50%;
    animation: scrollArrow 1s ease-in-out infinite;
  }

  @keyframes scrollArrow {
    0% {
      transform: translateY(-.5rem) scale(1.1);
    }
    50% {
      transform: translateY(.5rem) scale(1.1);
    }
    100% {
      transform: translateY(-.5rem) scale(1.1);
    }
  }

  @keyframes scrollBar {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  