@charset "utf-8";

#header {
    position: relative;
}

.header_inner {
    height: 43px;
    border-bottom: 1px solid #000;
}

.top_fixed_menuBar {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.top_fixed_menuBar > ul {
    float: left;
    line-height: 42px;
}

.top_fixed_menuBar > ul > li:nth-child(1) {
    padding: 0;
}

.top_fixed_menuBar > ul > li {
    float: left;
    padding-left: 14px;
    font-size: 12px;
}