@charset "utf-8";

/* 공통 css 셋팅 */
@import url(./reset.css);
@import url(./layout.css);
@import url(./font.css);

:root {
    --main-color-w: #fff;
    --main-color-b: #000;
    --margin-vt-size: 7px;
    --margin-hr-size: 5px;
    --border-roundness: 5px;
    --letter-interval: normal;
    --font-size-s: 12px;
    --notos-font1: 'Noto Sans KR';
    --mont-font1: 'Montserrat';
    --gothic-font1: 'Malgun Gothic Boot', sans-serif;
    --work-font1: 'Work Sans', sans-serif;
}

.section4_container * {
    font-family: var(--notos-font1);
}

#header {
    width: 100%;
    height: 90px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.header_inner {
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.header_fixed_bar {
    display: flex;
    align-items: center;
    height: 100%;
}

.header_fixed_bar > .header_top_gnb > ul > li,
.header_fixed_bar > .header_top_personal_menu > ul > li {
    display: inline-block;
}

.header_fixed_bar > .header_top_personal_menu > ul > li:nth-child(1) {
    margin-left: 0;
}

.header_fixed_bar > .header_top_personal_menu > ul > li {
    margin-left: 20px;
}

.header_fixed_bar > .header_top_gnb {
    margin-left: 50px;
}

.header_fixed_bar > .header_top_logo > h2 {
    font-size: 0;
}

.header_fixed_bar > .header_top_logo > h2 img {
    height: 100%;
}

.header_fixed_bar > .header_top_personal_menu {
    margin-left: auto;
}

.header_fixed_bar > .header_top_gnb a {
    font-weight: bold;
    font-size: 15px;
    padding: 0 14px;
    letter-spacing: 0;
    line-height: 22px;
}

.header_top_personal_menu > ul > li > a {
    background: url(../00.data/02.imgData/ico_common.png) no-repeat;
    display: block;
    width: 40px;
    height: 40px;
}

.header_top_personal_menu > ul > li:nth-child(2) > a {
    background-position: -40px 0;
} 

.header_top_personal_menu > ul > li:nth-child(3) > a {
    background-position: -80px 2px;
}

.header_top_personal_menu > ul > li:nth-child(4) > a {
    background-position: -120px 0;
}

.swiper {
    position: relative;
    height: 600px;
}

.swiper-wrapper {
    display: flex;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_bind_title {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    overflow: hidden;
}

.banner-control {
    position: relative;
    width: 1500px;
    height: 48px;
    left: 74%;
    z-index: 1;
    margin-top: -48px;
}

.banner-control > .banner-control-inner {
    position: relative;
    width: 202px;
    height: 100%;
    display: inline-block;
}

.banner-control > .banner-control-inner > .banner-pagination {
    float: left;
    background-color: #fff;
    width: 82px;
    height: 100%;
}

.banner-pagination {
    padding-left: 22px;
}

.banner-pagination > .banner-cnt {
    letter-spacing: 0;
    line-height: 48px;
}

.banner-pagination > .divider {
    margin: 0 3px; 
}

.banner-pagination > .divider,
.banner-pagination > .total {
    font-size: 14px;
    color: #999;
    font-weight: 500;
}

.banner-pagination > .current {
    font-size: 14px;
    font-weight: 700;
}

.banner-control > .banner-control-inner > .swiper-navigation {
    float: left;
    background-color: #fff;
    width: 72px;
    height: 48px;
    position: relative;
}

.swiper-navigation > .pgBtn {
    width: 22px;
    height: 22px;
    background: url(../00.data/02.imgData/abc_main_banner_btn_control.png) no-repeat;
    margin-top: -10px;
}

.swiper-navigation > .swiper-button-next {
    background-position-x: -22px;
}

.swiper-btn-toggle-pause {
    float: right;
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: rgba(0,0,0,0.5);
}

.swiper-btn-toggle-pause::after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../00.data/02.imgData/abc_main_banner_btn_control.png) no-repeat -66px 0;
}

.section2_container {
    margin-top: 100px;
}

.section2_inner {
    position: relative;
    width: 1080px;
    /* margin-left: 100px; */
    margin: 0 auto;
    display: flex;
}

.section2-title {
    width: 305px;
}

.section2-title > .text_head1 {
    font-size: 30px;
    font-family: var(--mont-font1);
    font-weight: 600;
}

.section2-title span:not(.text_head1) {
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
    color: #666;
    letter-spacing: -.7px;
    font-weight: normal;
    font-family: var(--notos-font1);
}

.main-hot-deal {
    position: relative;
    width: 1200px;
}

.swiper2 {
    position: relative;
    height: 480px;
    overflow: hidden;
}

.img_wrap {
    position: relative;
}

.swiper2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.img_wrap .sale {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: red;

    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: -5px;
    font-family: var(--mont-font1);
}

.sale > .val {
    font-size: 22px;
}

.sale > .unit {
    font-size: 15px;
}

.img_wrap .prod_count_bx {
    height: 46px;
    background-color: rgba(0,0,0,0.8);
    font-family: var(--mont-font1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 46px;
}

.prod-info-wrap {
    padding: 15px 10px;
}

.prod-info-wrap > .prod-brand {
    font-size: 15px;
    font-weight: 600;
}

.prod-info-wrap > .prod-name {
    color: #666;
    font-size: 14px;
    display: block;
    margin-top: 8px;
    height: 38px;
}

.prod-info-wrap > .prod-price {
    position: relative;
    font-family: var(--mont-font1);
}

.prod-info-wrap > .prod-price > .price-discount-cost {
    font-size: 20px;
    margin-left: 8px;
    font-weight: 600;
}

.prod-info-wrap > .prod-price > .price-normal-cost {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
}

.prod-info-wrap > .prod-price > .price-normal-cost::after,
.prod-info-wrap > .prod-price > .price-discount-cost::after {
    content: '원';
    font-size: 12px;
    font-weight: normal;
}

.prod-info-wrap > .prod-price > .price-sale-percent {
    font-size: 14px;
    margin-left: -2px;
}


.prod-info-wrap > .prod-price > .price-discount-cost,
.prod-info-wrap > .prod-price > .price-sale-percent {
    color: #ee1c25;
}

.sale-period-wrap {
    padding: 16px 10px;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    display: flex;

}

.sale-period-wrap > .sale-period {
    flex: 1;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    background: url(../00.data/02.imgData/prod_sale_period_bg.png) no-repeat;
    padding-left: 22px;
    font-family: var(--mont-font1);
}

.count {
    font-size: 13px;
    font-weight: 500;
}

.count > .val {
    color: #85c55b;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--mont-font1);
    margin-right: -5px;
}

.prod_count_bx > .date,
.prod_count_bx > .time {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    letter-spacing: -5px;
}

.prod_count_bx > .date {
    background: url(../00.data/02.imgData/prod_icon_time_count.png) no-repeat center left;
    padding-left: 30px;
    font-size: 17px;
}

.prod_count_bx > .time {
    padding-left: 10px;
}

.prod_count_bx > .time > span:nth-child(1):after,
.prod_count_bx > .time > span:nth-child(2):after {
    content: ':';
    padding: 0 5px;
}

.section2-title > a {
    position: absolute;
    margin-top: 40px;
    font-size: 15px;
    color: #666;
    font-weight: 600;
    background: url(../00.data/02.imgData/main_btn_section_link.png) no-repeat center right;
    padding-right: 12px;
    font-family: var(--mont-font1);
}

.main-swiper-nav > .main-navBtnL,
.main-swiper-nav > .main-navBtnN {
    top: 128px;
    position: absolute;
    width: 15px;
    height: 29px;
    background: url(../00.data/02.imgData/main_btn_abc_swiper.png) 0 0 no-repeat;
    z-index: 2;
}

.main-swiper-nav > .main-navBtnL {
    background-position: -15px 0;
    left: 22%;
}

.main-swiper-nav > .main-navBtnN {
    background-position: 0 0;
    right: -3%;
}

/* 3. 메인 컨텐츠3 */
.section3_container > h2 {
    text-align: center;
    font-family: var(--mont-font1);
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 30px;
}

.section5_container > h2 {
    text-align: center;
    font-family: var(--mont-font1);
    font-size: 44px;
    font-weight: 800;
}

.section5_inner {
    overflow: hidden;
    padding: 35px 0;
    background-color: #fff;
    z-index: 1;
}

.special_cont_wrap,
.spring_cont_wrap {
    display: flex;
    position: relative;
    align-items: center;
}

.special_cont_wrap > .special-main-item > a,
.spring_cont_wrap > .spring-main-item > a  {
    display: block;
    width: 520px;
    height: 520px;
}

.special_cont_wrap > .special-main-item > a > img,
.spring_cont_wrap > .spring-main-item > a > img {
    width: 100%;
    height: 100%;
}

.special_cont_wrap > .special-item-list,
.spring_cont_wrap > .spring-item-list {
    width: 50%;
    position: relative;
}

.special-item-list > .ban-item-tit,
.spring-item-list > .ban-item-tit {
    width: 462px;
    margin: 10px auto 30px;
}

.special-item-list > .ban-item-tit > strong,
.spring-item-list > .ban-item-tit > strong  {
    font-size: 28px;
}

.special-item-list > .ban-item-tit > span,
.spring-item-list > .ban-item-tit > span  {
    font-size: 16px;
    display: block;
    color: #191919;
    margin-top: 2px;
    line-height: 28px;
}

.special-main-item {
    padding-right: 10px;
}

.swiper3, .swiper4 {
    width: 462px;
    margin: 0 auto;
    overflow: hidden;
}

.swiper3 .swiper-slide,
.swiper4 .swiper-slide {
    width: 147px;
}


.swiper3 .swiper-slide img,
.swiper4 .swiper-slide img {
    width: 100%;
}

.swiper3 .swiper-slide .brand,
.swiper4 .swiper-slide .brand,
.swiper5 .swiper-slide .brand {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-family: var(--notos-font1);
}

.swiper3 .swiper-slide p,
.swiper4 .swiper-slide p,
.swiper5 .swiper-slide p {
    margin-top: 4px;
    font-size: 12px;
    font-family: var(--gothic-font1);
    letter-spacing: -0.5px;
    color: #666;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.original-price > em,
.discount-price > em,
.percent-price > em {
    font-style: normal;
    font-family: var(--mont-font1);
}

.original-price > em,
.original-price > span {
    color: #999;
    font-size: 11px;
    text-decoration: line-through;
    display: inline-block;
}

.original-price > span {
    margin-left: -5px;
}

.discount-price {
    display: inline-block;
}

.percent-price {
    color: #ff1e00;
    float: right;
    font-size: 18px;
    letter-spacing: -10px;
}

.main3-navBtnL, .main3-navBtnN,
.main4-navBtnL, .main4-navBtnN  {
    position: absolute;
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
    width: 20px;
    height: 20px;
}

.main3-navBtnL,
.main4-navBtnL {
    transform: rotate(225deg);
    left: 18px;
}

.main3-navBtnN,
.main4-navBtnN {
    transform: rotate(45deg);
    right: 18px;
}

.spring-main-item {
    padding-left: 10px;
}

.new-item-list {
    display: flex;
}

.new-item-list > li {
    width: 25%;
}

.item-tag-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.item-tag-wrap > button {
    background-color: var(--main-color-b);
    color: #fff;
    padding: 5.5px 12px;
    border-radius: 20px;
    margin-top: 5px;
}

.item-tag-wrap > button:nth-child(2) {
    margin-left: 3px;
}

.m-cont5_list {
    border: 1px solid #ccc;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.m-cont5_list img {
    width: 100%;
    height: 100%;
}

.m-cont5_list:hover {
    box-shadow: 0 11px 9px rgba(0,0,0,0.15);
    transform: translateY(-32px);
}

.new-item-box {
    width: 100%;
    height: 180px;
    padding: 15px;
}

.txt-marquee {
    background-color: #000;
    width: 100%;
    height: 80px;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 50%;
}

.txt-marquee > ul {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.txt-marquee > ul > li {
    padding: 20px;
    animation: moveText 8s linear infinite;
    letter-spacing: -5px;
}

@keyframes moveText {
    to {
        transform: translateX(-100%);
    }
}

.txt-marquee > ul > li > span {
    color: #fff;
    white-space: nowrap;
    font-size: 40px;
}


/* C. 하단영역 */
#info {
    position: relative;
    padding: 60px 5%;
    background-color: #131313;
}

#info > .scrollTop {
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #131313;
}

#info > .scrollTop > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 12px;
    height: 18px;
    color: #fff;
    transition: .3s ease;
}

#info > .scrollTop > i::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -9px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
}

#info > .scrollTop > i::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: currentColor;
}

.footer-info-wrap {
    position: relative;
    display: flex;
}

.footer-info-wrap > .f-box-w1 {
    width: 50%;
    float: left;
}

.footer-info-wrap > .f-box-w2 {
    width: 50%;
    float: right;
}

.footer-info-wrap > .f-box-w1 ul > li > a {
    letter-spacing: -0.5px;
}

.footer-info-wrap > .f-box-w1 ul > li {
    display: inline-block;
}

.footer-info-wrap > .f-box-w1 ul > li+li {
    margin-right: 24px;
    line-height: 30px;
}

.f-box-w1 > .f-menu > ul > li > a,
.f-bottom .txt-semibold {
    color: #fff;
}

.f-bottom .txt-semibold {
    font-weight: 600;
}

.f-bottom span {
    font-size: 13px;
    color: #888;
    font-family: var(--work-font1);
}

.f-bottom, .f-info {
    margin-top: 30px;
}

.f-bottom a {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 12px;
    padding: 0 12px 0 25px;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 24px;
    vertical-align: middle;
}

.f-bottom a::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../00.data/02.imgData/../02.imgData/icon_cs.svg) no-repeat;
    background-position: right 0;
    left: 5px;
}

.f-sns-list {
    float: right;
}

.f-sns-list > ul > li {
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
}

.f-sns-list > ul > li > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.f-sns-list > ul > li > a > i {
    background: url(../00.data/02.imgData/icon_sns.svg) no-repeat;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: .3s ease;
}

.f-sns-list > ul > li > .facebook > i {
    background-position: left -30px;
}

.f-sns-list > ul > li > .youtube > i {
    background-position: left -60px;
}

.f-sns-list li+li {
    margin-left: 10px;
}

.f-tel {
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-family: var(--mont-font1);
}

.f-tel > a {
    color: #fff;
    font-family: var(--work-font1);
    font-weight: 600;
    padding-left: 35px;
}

.f-tel > i {
    background: url(../00.data/02.imgData/icon_tel.svg) no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}


.f-info li,
.f-info li > em,
.f-info li > a {
    color: #888;
    font-style: normal;
    font-size: 13px;
}

.f-info li > em {
    color: #fff;
    font-weight: 600;
}

.f-copyright {
    position: relative;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: 11px;
    margin-top: 30px;
    padding-top: 30px;
}
