@charset "utf-8";

:root {
    --dark-gray-color: #3f3f3f;
    --dark-gray-md-color: #00000029;
    --light-gray-color: #e8e8e8;
    --margin-vt-size: 7px;
    --margin-hr-size: 5px;
    --border-roundness: 5px;
    --letter-interval: normal;
}

#header {
    position: relative;
}

.header_inner {
    height: 43px;
    border-bottom: 1px solid var(--light-gray-color);
}

.top_fixed_menuBar {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* 상단 좌측 인포메뉴 */
.top_fixed_menuBar > ul {
    float: left;
    line-height: 42px;
}

.top_fixed_menuBar > ul > li:nth-child(1) {
    padding: 0;
    width: 52px;
    overflow: hidden;
    height: 0;
    text-align: center;
    border: 1px dashed red;
}

.top_fixed_menuBar > ul > li:nth-child(1).showTxt {
    height: 100%;
    background-color: var(--dark-gray-color);
}

.top_fixed_menuBar > ul > li {
    float: left;
    padding-left: 14px;
    font-size: 12px;
}

.top_fixed_menuBar > ul > li.sign_msgbx_wrap {
    position: relative;
} 

.gnb_txt_bold {
    font-weight: bold;
}

/* 회원가입 welcome 메시지박스 */
.top_fixed_menuBar > ul > li.sign_msgbx_wrap > .sign_msgbox {
    position: absolute;
    background-color: var(--dark-gray-color);
    color: #fff;
    height: auto;
    padding: 5px 7px;
    margin-top: -8px;
    left: 10%;
    border-radius: var(--border-roundness);
    font-size: 11px;
    letter-spacing: var(--letter-interval);
    line-height: 1;
    font-weight: bold;
    animation: move_topBottom 1s linear infinite;
} 

@keyframes move_topBottom {
    50% {
        margin-top: -4px
    }
}

.top_fixed_menuBar > ul > li.sign_msgbx_wrap > .sign_msgbox::before {
    content: "\e92f";
    position: absolute;
    font-family: xeicon;
    color: var(--dark-gray-color);
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

/* 상단 우측 인포메뉴 */
.right_infoBar {
    float: right;
    height: 100%;
}

/* 키워드 검색바 */
.keyword_searchbox {
    float: left;
    position: relative;
    margin: var(--margin-vt-size) 0;
}

.keyword_searchbox legend {
    visibility: hidden;
    width: 0;
    height: 0;
    line-height: 0;
}

.keyword_searchbox fieldset {
    position: relative;
    border: none;
}

.keyword_searchbox form {
    width: 150px;
    background-color: var(--dark-gray-md-color);
    height: 28px;
    border-radius: var(--border-roundness);
}

.keyword_searchbox form a::after {
    content: "\e97a";
    position: absolute;
    font-family: xeicon;
    width: 30px;
    height: 28px;
    top: 0;
    right: 0;
    color: #fff;
    line-height: 28px;
    text-align: center;
}

.keyword_searchbox label {
    position: absolute;
    width: 100%;
    height: 100%;
}

.keyword_searchbox input {
    background: none;
    width: 100%;
    height: 100%;
    padding: 6px 8px;
}

/* 최근 본 상품 검색바 */
.right_infoBar > .recent_view_box {
    float: left;
    width: 28px;
    height: 28px;
    background-color: var(--dark-gray-md-color);
    border-radius: var(--border-roundness);
    margin: var(--margin-vt-size) 0;
    margin-left: var(--margin-hr-size);
}

.right_infoBar > .recent_view_box > a {
    color: #fff;
    text-align: center;
}

.right_infoBar > .recent_view_box > a > i {
    line-height: 28px;
    padding: 0 6px;
}

.main_headerBox_inner {
    position: relative;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
}

.main_logo {
    display: inline-block;
    text-align: center;
}

.main_logo img {
    vertical-align: middle;
    width: 100%;
}

.sns_list {
    position: absolute;
    bottom: 10px;
}

.sns_list > a {
    float: left;
    background-color: rgba(0,0,0,.16);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.sns_list > .ico_align {
    margin-left: 5px;
}

.sns_list > a::after {
    font-family: xeicon;
    color: #fff;
    line-height: 25px;
    margin-left: -1px;
    font-size: 17px;
}

.sns_list > a:nth-child(1)::after {
    content: "\ebd3";
}

.sns_list > a:nth-child(2)::after {
    content: "\ebe9";
}

.sns_list > a:nth-child(3)::after {
    content: "\ebbc";
}
.sns_list > a:nth-child(4)::after {
    content: "\ebef";
}
.sns_list > a:nth-child(5)::after {
    content: "\ec04";
}

.sns_list > a:nth-child(1):hover {
    background-color: #5c84d7;
}
.sns_list > a:nth-child(2):hover {
    background: linear-gradient(to right,#fa9753 ,#773ac6);
}

.sns_list > a:nth-child(3):hover {
    background-color: #44cb44;
}

.sns_list > a:nth-child(4):hover {
    background-color: #f9b932;
}

.sns_list > a:nth-child(5):hover {
    background-color: #ee1c1b;
}

.main_headerBox {
    border-bottom: 1px solid #000;
}

/* swiper CSS */
.swiper-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    text-align: right;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background-color: var(--dark-gray-color);
}

.swiper-pagination-bullet-active {
    width: 25px;
    border-radius: 5px;
    transition: all .5s ease;
}