@charset "utf-8";

/***************** B. 메인영역 *****************/
/* 1. 메인 컨텐츠1 */
.section1_container {
    width: 100%;
    height: 613px;
    /* aspect-ratio: 2/0.8; */
}

.section1_inner {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}