@charset "utf-8";

/***************** B. 메인영역 *****************/
/* 1. 메인 컨텐츠1 */
.swiper2 {
    height: 100%;
}
.swiper2 > ul > li > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper2 .swiper-button-prev,
.swiper2 .swiper-button-next {
    color: #fff;
    position: absolute;
    background-color: rgba(0,0,0,.15);
    width: 38px;
    border-radius: 5px;
    transition: all .3s ease;
}

.swiper2 .swiper-button-prev {
    left: 30px;
}

.swiper2 .swiper-button-prev.on {
    left: 10px;
}

.swiper2 .swiper-button-next {
    right: 30px;
}

.swiper2 .swiper-button-next.on {
    right: 10px;
}

.swiper2 .swiper-button-prev::after,
.swiper2 .swiper-button-next::after {
    font-family: xeicon;
    font-size: 30px;
}

.swiper2 .swiper-button-prev::after {
    content: "\e93d";
}

.swiper2 .swiper-button-next::after {
    content: "\e940";
}

.pg-nav2 {
    text-align: center;
    bottom: 18px !important;
}

.pg-nav2 > span {
    background-color: #ccc;
    border-radius: 0;
    min-width: 14px;
    height: 4px;
    opacity: 0.9;
}

.pg-nav2 > span.swiper-pagination-bullet-active {
    position: relative;
}

.pg-nav2 > span.swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.line-notice {
    width: 100%;
    height: 70px;
    display: flex;
}

.line-notice-left {
    position: relative;
    width: 50%;
    background-color: #000;
}

.line-notice-right {
    position: relative;
    width: 50%;
    background-color: #f6f5ef;
}

.line-notice-left > .line-notice-inner > dl > dt,
.line-notice-left > .line-notice-inner > dl > dd a {
    color: #fff;
}

.line-notice-left > .line-notice-inner > dl {
    display: flex;
    white-space: nowrap;
    margin-top: 25px;
}

.line-notice-left > .line-notice-inner {
    position: absolute;
    float: left;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.line-notice-left > .line-notice-inner > dl > dd {
    width: auto;
    height: 20px;
    overflow: hidden;
}

.more_notice_btn {
    position: relative;
    float: right;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.more_notice_btn img {
    width: 100%;
    height: 100%;
}

.more_promotion_btn > a {
    width: 230px;
    height: 36px;
}

.more_promotion_btn {
    position: relative;
    float: left;
    width: 250px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.more_promotion_btn p,
.more_promotion_btn span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.more_promotion_btn span {
    position: relative;
    float: right;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.more_promotion_btn span > img {
    width: 100%;
    height: 100%;
}


/* 2. 메인 컨텐츠2 */
.main_left_big_slide {
    width: 45%;
    border: 1px solid blue;
}

.main_right_small_slide {
    width: 55%;
}
/***************** C. 하단영역 *****************/