@charset "utf-8";

/***************** B. 메인영역 *****************/
.search-input-wrap {
    position: absolute;
    top: 0;
    right: -20px;
    background: #fff;
    width: 580px;

    /* -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0); */
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0);
    padding: 0 56px 20px;
    display: none;
}

.search-input-cont-inner {
    position: relative;
    display: flex;
    padding: 20px 0;
}

.search-input-wrap > form > a {
    position: absolute;
    background: url(../00.data/02.imgData/ico_common.png) no-repeat 0 0;
    right: 20px;
    width: 40px;
    height: 40px;
}

.search-input-wrap > form > label,
.search-input-wrap > form > label > input {
    font-size: 15px;
}

.search-input-wrap > form > label > input {
    border-bottom: 2px solid #191919;
    width: 100%;
    height: 31px;
}

.search-input-wrap > form {
    width: 450px;
}

.latest-search-word-bx > dl {
    border-right: 1px solid #e9e9ed;
    padding-right: 30px;
    min-width: 200px;
    min-height: 395px;
}

.search-close-btn {
    border-top: 1px solid #e9e9ed;
    margin: 0 -56px;
}

.search-close-btn > a {
    position: relative;
    float: right;
    font-size: 13px;
    color: #767676;
    padding-right: 32px;
    transform: translateY(50%);
}

.search-close-btn > a::after {
    content: '';
    position: absolute;
    background: url(../00.data/02.imgData/ico_common.png) no-repeat -175px -104px;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.popular-search-word-bx > dl {
    width: 262px;
    height: 395px;
    padding-left: 30px;
}

.search-input-cont-inner dt {
    font-size: 16px;
    font-weight: 700;
    color: #191919;
    font-family: var(--notos-font1);
    margin-bottom: 20px;
}

.hot-keyword li+li {
    margin-top: 10px;
}

.hot-keyword li > a > em,
.hot-keyword li > a {
    font-size: 13px;
    font-weight: 600;
    font-family: var(--notos-font1);
    font-style: normal;
    color: #444;
}

.hot-keyword li > a > em {
    padding-right: 5px;
}

.user-input-value {
    height: 350px;
}

.delete-contents > a {
    position: relative;
    color: #767676;
    font-size: 13px;
    float: right;
    padding-left: 20px;
}

.delete-contents > a::after {
    content: '';
    position: absolute;
    left: 0;
    background: url(../00.data/02.imgData/ico_common.png) no-repeat -239px -104px;
    width: 18px;
    height: 18px;
    top: 2px;
}

.real-time-rank span {
    position: absolute;
    right: 0;
}

#cont {
    position: relative;
}

.swiper-pagination-current {
    font-weight: bold;
}
/***************** C. 하단영역 *****************/