@charset "utf-8";

/* 메인 컨텐츠 */
/* 1800 이하 미디어쿼리 구역 */
@media screen and (max-width: 1800px) {
   .recent-view-item-prod-wrap {
    display: none;
   } 
}

@media screen and (max-width: 1220px) {
    .section2_inner {
        width: 100%;
        flex-direction: column;
    }

    .main-hot-deal {
        text-align: center;
    }

    .section2-title {
        width: 100%;
    }

    .section2_container {
        margin-top: 80px;
    }

    .section2-title > a {
        position: static;
    }

    .section2_container {
        margin-top: 0;
    }

    .section2-title {
        margin: 80px 0 60px 0;
    }

    .main-swiper-nav > .main-navBtnN {
        right: 30%;
    }

    .main-swiper-nav > .main-navBtnL {
        left: 30%;
    }

    .swiper2 {
        margin: 0 20px;
    }

}

/* 1250 이하 미디어쿼리 구역 */
@media screen and (max-width: 1100px) {
    .fixed_wrap {
        display: none;
    }

    .swiper {
        height: auto;
    }

    .banner-control {
        bottom: 4px;
    }

    .mo_main_nav_is-fixed {
        display: block;
    }
}

