@charset "utf-8";

/* 초기화 */
button,h1,ul,ol,li,a,section,header,main,footer,form,input,div,span,nav,p,fieldset,legend {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    letter-spacing: 0;
    outline: none;
}

html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

input {
    border: none;
}
