
/********* 1. NEW - 서브메뉴 *********/
.new-prod-cont {
    margin-top: 30px;
}

section.new_container {
    padding: 50px 0;
}

.new_inner {
    width: 1080px;
    margin: 0 auto;
}

.new-prod-tab {
    position: relative;
}

.new-prod-tab > ul {
    display: flex;
    margin: 0 10px;
}

.new-prod-tab > ul > li {
    flex: 1;
    height: 62px;
    line-height: 62px;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-bottom: 3px solid #000;
    background: #FAFAFA;
    cursor: pointer;
}

.new-prod-tab > ul > li.clicked {
    background-color: #fff;
    border: #191919 2px solid;
    color: #000;
    border-bottom: transparent;
}

.new-prod-cont > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new-prod-cont > ul > li {
    position: relative;
    width: 25%;
    margin-bottom: 50px;
    padding: 0 10px;
}

.prod-img {
    text-align: center;
}

.new-prod-bx img {
    width: 250px;
    height: 340px;
    object-fit: cover;
    margin-bottom: 10px;
}

.new-prod-bx p {
    padding: 4px 0 5px;
    letter-spacing: -1.5px;
}

.prod-discount-price > em {
    font-size: 22px;
    font-style: normal;
    font-family: var(--mont-font1);
}

.original-price > em,
.discount-price > em,
.percent-price > em {
    font-style: normal;
    font-size: 22px;
    font-family: var(--mont-font1);
}

.discount-price > span {
    font-size: 14px;
    vertical-align: 1px;
}

.discount-price,
.prod-discount-price {
    letter-spacing: -5px;
    font-family: var(--mont-font1);
}

.original-price > em,
.original-price > span {
    color: #999;
    font-size: 13px;
    text-decoration: line-through;
    display: inline-block;
}

.original-price > span {
    margin-left: -5px;
}

.percent-price {
    color: #ff1e00;
    float: right;
    font-size: 20px;
    letter-spacing: -10px;
}

.prod-txt {
    font-size: 14px;
}

.showmore_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    height: 60px;
    line-height: 58px;
    font-size: 16px;
    letter-spacing: -.8px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
}

/********* 3. WOMEN - 서브메뉴 *********/
.cat_left_side_tab {
    width: 208px;
    /* float: left; */
    border: 1px dashed #000;
}

.cat_left_side_tab > h2 {
    font-size: 26px;
    font-family: var(--mont-font1);
    font-weight: 700;
    margin: 0 0 12px 10px;
}

.cat_left_side_tab > .ctg_link {
    padding: 20px 12px 30px;
}

.cat_left_side_tab > .ctg_link a,
.cat_left_side_tab > .ctg_nav .ctg_depth1 span {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--notos-font1);
    line-height: 28px;
}

.cat_left_side_tab > .ctg_link > ul > li+li,
.cat_left_side_tab > .ctg_nav > ul > li+li {
    margin-top: 20px;
}

.cat_left_side_tab > .ctg_link em {
    font-style: normal;
    font-size: 15px;
    color: #FF1E00;
    vertical-align: top;
    font-weight: 500;
    font-family: var(--mont-font1);
}

.cat_left_side_tab > .ctg_nav {
    padding: 10px 0 0 12px;
    border-top: 1px solid #F1F1F1;
}

.ctg_nav > ul > li,
.ctg_link > ul > li  {
    position: relative;
    cursor: pointer;
}

.ctg_nav > ul > li > a::after {
    content: '';
    position: absolute;
    background: url(../00.data/02.imgData/ico_common.png) no-repeat -62px -115px;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}

.ctg_depth2 > ul > li > a {
    color: #666;
    font-size: 14px;
    line-height: 30px;
}