
/********* 1. NEW - 서브메뉴 *********/
.new_container,
.new-prod-cont {
    margin-top: 30px;
}

.new_inner {
    width: 1080px;
    margin: 0 auto;
}

.new-prod-tab {
    position: relative;
}

.new-prod-tab > ul {
    display: flex;
    margin: 0 10px;
}

.new-prod-tab > ul > li {
    flex: 1;
    height: 62px;
    line-height: 62px;
    text-align: center;
    border: #E1E1E1 1px solid;
    border-bottom: transparent;
    background: #FAFAFA;
}

.new-prod-tab > ul > li > a {
    color: #666;
}

.new-prod-cont > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new-prod-cont > ul > li {
    position: relative;
    width: 25%;
    margin-bottom: 50px;
    padding: 0 10px;
}

.prod-img {
    text-align: center;
}

.new-prod-bx img {
    width: 250px;
    height: 340px;
    object-fit: cover;
    margin-bottom: 10px;
}

.new-prod-bx p {
    padding: 4px 0 5px;
    letter-spacing: -1.5px;
}

.prod-discount-price > em {
    font-size: 22px;
    font-style: normal;
    font-family: var(--mont-font1);
}
