<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>슈펜 공식 온라인 스토어 :: SHOOPEN</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://static.elandrs.com/f/img/favicon/shoopen.ico" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/subPage.css" />
    <!-- Icon CDN -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
  </head>
  <body>
    <div id="cont_wrap">
      <!-- A. 상단영역 -->
      <header id="header">
        <top-area></top-area>
      </header>
      <!-- B. 메인영역 -->
      <main id="cont">
        <aside class="recent-view-prod-bx">
          <prod-comp></prod-comp>
        </aside>
        <section class="sub_container">
          <div class="sub_inner">
            <!-- 좌측 메뉴 사이드탭 -->
            <aside class="cat_left_side_tab">
              <h2 class="tit_h2">WOMEN</h2>
              <div class="ctg_link">
                <ul>
                  <li>
                    <a href="#">신상
                      <em>NEW</em>
                    </a>
                  </li>
                  <li>
                    <a href="#">베스트
                      <em>BEST</em>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="ctg_nav">
                <ul>
                  <li class="ctg_depth1">
                    <div>
                      <a href="#">
                        <span>여성신발</span>
                      </a>
                    </div>
                    <div class="ctg_depth2">
                      <ul>
                        <li>
                          <a href="#">전체</a>
                        </li>
                        <li>
                          <a href="#">플랫/단화</a>
                        </li>
                        <li>
                          <a href="#">샌들</a>
                        </li>
                        <li>
                          <a href="#">스니커즈/운동화</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="ctg_depth1">
                    <div>
                      <a href="#">
                        <span>여성가방</span>
                      </a>
                    </div>
                    <div class="ctg_depth2">
                      <ul>
                        <li>
                          <a href="#">전체</a>
                        </li>
                        <li>
                          <a href="#">백팩</a>
                        </li>
                        <li>
                          <a href="#">미니백</a>
                        </li>
                        <li>
                          <a href="#">크로스백</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="ctg_depth1">
                    <div>
                      <a href="#">
                        <span>여성잡화</span>
                      </a>
                    </div>
                    <div class="ctg_depth2">
                      <ul>
                        <li>
                          <a href="#">전체</a>
                        </li>
                        <li>
                          <a href="#">양말</a>
                        </li>
                        <li>
                          <a href="#">모자</a>
                        </li>
                        <li>
                          <a href="#">머플러/장갑</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </aside>
            <!-- 우측 상품 리스트 -->
            <section class="ctg-prd-view">
              <div class="ui-item-box"></div>
              <div class="ui-item-title">
                <h3>RANKING</h3>
              </div>
              <div class="ui-item-view">
                <ul class="ui-col4">
                  <li>
                      <div class="new-prod-bx">
                          <a href="#">
                              <div class="prod-img">
                                  <img src="./00.data/02.imgData/2207040118_0000013.jpg" alt="상품이미지">
                              </div>
                              <div class="prod-txt">
                                  <strong class="brand">슈펜</strong>
                                  <p>디즈니 앨리스 하트 크로스백</p>
                              </div>
                          </a>
                      </div>
                      <div class="item-detail">
                          <span class="original-price">
                              <em>35,900</em>
                              <span v-if="value.oprice">원</span>
                          </span>
                          <br>
                          <span class="discount-price">
                              <em>32,310</em>
                              <span v-if="value.dprice">원</span>
                          </span>
                          <span class="percent-price" v-if="value.oprice && value.dprice">
                              <em>10%</em>
                          </span>
                      </div>
                  </li>
                </ul>
              </div>
              <a href="#" class="view-more-btn">
                <span>View more</span>
              </a>
            </section>
          </div>
        </section>
        <aside class="scrollTop-btn-wrap">
          <div class="scrollTop">
            <i></i>
          </div>
        </aside>
      </main>
      <!-- C. 하단영역 -->
      <!-- <footer id="info">
        <info-area></info-area>
        <p class="f-copyright">COPYRIGHT © WONDERPLACE ALL RIGHTS RESERVED.</p>
      </footer> -->
    </div>

    <!-- Plugin JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./js/plugin/jquery-3.6.0.min.js"></script>
    <script src="./js/plugin/jquery-ui.min.js"></script>
    <!-- 뷰JS 스탠드얼론 버전 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 뷰JS 라우터 CDN -->
    <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
    <!-- 뷰JS vuex CDN -->
    <script src="https://unpkg.com/vuex@3.0.0"></script>
    <!-- JS File -->
    <script type="module" src="./js/common.js"></script>
    <script type="module" src="./js/goBtn.js"></script>
    <script type="module" src="./js/search.js"></script>
    <script type="module" src="./js/recent_view_prod.js"></script>
    <script type="module" src="./js/subpage.js"></script>
    <script type="module" src="./js/mypage.js"></script>
  </body>
</html>
