@charset "utf-8";

/* 웹&앱PJ 메인모듈 CSS - main.css */

/* 공통 css 셋팅 */
@import url(./reset.css);
@import url(./core.css);

:root {
    /* 브랜드색상 변수 */
    --aromatica-color-main: #112B23;
    --aromatica-color-sub: #F3F0EB;
    /* 브랜드폰트 변수 */
    --aromatica-font-primary: 'IBM Plex Sans KR', sans-serif;
    --aromatica-font-secondary: 'EB Garamond', serif;
}

/*************** 상단영역 ***************/
/* 네비게이션 전체박스 */
.fxbx {
    /* 픽스드박스 */
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav {
    /* 플렉스박스 */
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    white-space: nowrap;
    background-color: var(--aromatica-color-main);
    transition: .3s ease;
    overflow: hidden;
}

/* 클래스 on */
.top.on nav {
    /* 높이변경 */
    height: 420px;

    background: var(--aromatica-color-sub);
    transition: .3s ease-out;
}

/* .top 하단 보더 생김 */
.top.on nav::after {
    content: '';
    position: absolute;
    display: block;
    top: 80px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    transition: .4s ease-out;
}

/* 로고/카테고리 플렉스박스 */
.gnb {
    display: flex;
}

/* 1. 로고영역 */
.logo {
    height: 80px;
    transition: .4s ease;
}

.logo a {
    display: block;
    width: 195px;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 드래그방지 커버 */
.top::after {
    position: absolute;
    content: '';
    display: none;
    width: 100vw;
    height: 100vh;
    opacity: .0;
    background-color: #000;
}

/* 클래스 on */
/* 배경 어둡게 */
.top.on::after {
    position: absolute;
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    opacity: .3;
    background-color: #000;
}

.top.on .catbx > li > a {
    font-weight: 500;
    color: #333;
}

/* 2. 카테고리영역 */
/* gnb 대분류 */
.catbx {
    position: relative;
    display: flex;
    gap: 70px;
    margin-left: 80px;
    line-height: 80px;
    transition: .4s ease;
}

.catbx > li > a {
    color: #fff;
    font-size: 15px;
}

/* gnb a태그 클릭시 하단 보더 생김  */
.catbx > li > a::before {
    content: '';
    position: relative;
    display: block;
    top: 79px;
    width: 0;
    border-bottom: 1px solid #333;
    transition: .4s ease-out;
}

.catbx > li.on > a::before {
    width: 100%;
} 

/* 3. 사이드영역 */
.side {
    display: flex;
    gap: 30px;
    line-height: 90px;
    transition: .4s ease;
}

.side > li > a::before {
    content: '';
    display: inline-block;
    background-image: url(../images/ico_common.png);
    width: 20px;
    height: 20px;
}

.side > li > .ico_wish::before {
    background-position: -44px 253px;
}

.side > li > .ico_mypage::before {
    background-position: -217px -177px;
}

.side > li > .ico_cart::before {
    background-position: -132px -211px;
}

/* gnb 소분류 */
.subbx {
    position: absolute;
    top: 100px;
    gap: 100px;
    display: flex;
}

/* 4. 썸네일영역 */
.thumb {
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.thumb > img {
    width: 100%;
    aspect-ratio: 1/0.6;
    object-fit: cover;
}

.thumb > h5 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2;
    margin-top: 10px;
}

.thumb > span {
    font-size: 1.4rem;
    line-height: 1.7;
}

/* 소분류 공통박스 */
.sub {
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.5rem;
}

.sub > dt {
    cursor: pointer;
    margin: 10px 0;
}

.sub > dt > a {
    display: inline-block;
    font-weight: 600;
    color: #505050;
}

.sub > dd > a {
    color: #333;
    display: inline-block;
}

.sub > dd+dd {
    margin-top: 5px;
}

.sub > dt > a::after,
.sub > dd > a::after {
    content: '';
    display: block;
    position: relative;
    border-bottom: 1px solid #ccc;
    width: 0;
    transition: .3s ease-out;
}

.sub > dt > a:hover::after,
.sub > dd > a:hover::after {
    width: 100%;
}
