@charset "utf-8";
/* 리셋 CSS - reset.css */

html,body,ul,li,div,span,article,aside,section,h1,h2,h4,input,audio,button {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: none;
}

* {
    font-family: "Noto Sans KR";
    font-style: normal;
    box-sizing: border-box;
    user-select: none;
}

input, button {
    border: none;
}