@charset 'utf-8';

@import url(./fonts.css);
@import url(../index.css);
@import url(./media.css);

@mixin ablum_cover {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
    z-index: 90;
}

@mixin album_list {
    vertical-align: middle;
    color: #fff;
    font-family: "$noto-sans-font";
    text-align: center;
}

@mixin album_align {
    float: left;
    width: 50%;
}

@mixin gal1_s_img_size {
    width: 129px;
    height: 195px;
}

@mixin radio_btn_sty {
    appearance: none;
    vertical-align: middle;
    margin: 0px 4px;
}

$main-w-color: #fff;
$msp-info-between: 200px;
$open-sans-font: "Open Sans", sans-serif;
$nexon-font: NEXONFootballGothicBA1;
$kotra-font: KOTRA_GOTHIC;
$noto-sans-font: Noto Sans KR;
$icon-content: "\ebae";
$album_tit_shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

#root {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* 배경이미지박스 */
.bgbx {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: url(../../00.data/02.imgData/album/alb0.jpg);
    // background-size: 100% 100%;
    // filter: blur(6px) brightness(80%);
}

/* 배너전체박스 */
.banbx {
    position: absolute;
    top: 50%;
    left: -57%;
    height: 150vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: red;
    transform: translateY(-50%);
}
.banbxInner {
    width: 100%;
    height: 100%;
}
/* 배너컨텐츠박스 */
.bancont {
    width: 100%;
    height: 100%;
    // position: relative;
    // height: 360px;
    // left: 5vw;
    // top: -30%;
    // aspect-ratio: 1/0.55;
}

.album_wrap {
    // position: absolute;
    width: 100%;
    height: 100%;
    // transform: translateY(50%);
    // flex-direction: column;
    // display: flex;
    // gap: 3vh 0;

    position: relative;
    // height: 360px;
    // left: 5vw;
    // top: -30%;
    // aspect-ratio: 1/0.55;
    transition: .4s ease-in-out;
}

/* 대상 슬라이드 */
.album_set {
    display: flex;
    position: absolute;
    width: 360px;
    height: 360px;
    flex-shrink: 0;
    cursor: pointer;
    // transition: transform 0.8s ease-in-out;
    z-index: 9;
    transition: .4s ease-in-out;
}

.album_set.album_set1 {
    top: 36%;
    left: 92%;
}

.album_set.album_set2 {
    top: 73%;
    left: 75%;
}

.album_set.album_set3 {
    top: 94%;
    left: 23%;
}

.album_set.album_set4 {
    top: 53%;
    left: -15%;
}

.album_set.album_set5 {
    top: 4%;
    left: -9%;
}

.album_set.album_set6 {
    top: -19%;
    left: 31%;
}

.album_set.album_set7 {
    top: 0;
    left: 72%;
}

/* 우측 CD */
.album_cd1,
.album_cd2,
.album_cd3,
.album_cd4,
.album_cd5,
.album_cd6,
.album_cd7 {
    width: 360px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 50%;

    /* CD 흰색 테두리 */
    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
        border: 8px solid $main-w-color;
        box-sizing: border-box;
    }

    /* CD 이미지 */
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    > .cd_center_circle {
        position: absolute;
        width: 20%;
        height: 20%;
        left: 50%;
        margin: 0;
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        border: 12px solid rgb(250, 250, 250);
        top: 50%;
        transform: translate(-50%, -50%);

        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px inset;
            transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
            border: 8px solid rgb(238, 236, 235);
            box-sizing: border-box;
        }
    }
}
.album_cover {
    @include ablum_cover;
    width: 100%;
    height: 100%;
}
/* 좌측 Album */
.album_cover1 .album_cover_inner {
    background-color: pink;
}

.album_cover2 .album_cover_inner {
    background-color: #222;
}

.album_cover3 .album_cover_inner {
    background-color: #da9438;
}

.album_cover4 .album_cover_inner {
    background-color: #cc372b;
}

.album_cover5 .album_cover_inner {
    background-color: #f7ba20;
}

.album_cover6 .album_cover_inner {
    background-color: #d388eb;
}

.album_cover7 .album_cover_inner {
    background-color: #373736;
    // background-color: #222;
}

.album_cover_inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}

/* 앨범 하단 출시년도 */
.release_date {
    color: $main-w-color;
    bottom: 0;
}

/* 앨범명 */
em {
    font-size: 54px;
    font-weight: 300;
    color: white;
}

/* 앨범우측 저작권자 */
.original_author {
    font-size: 12px;
    font-weight: 100;
    text-align: right;
    color: $main-w-color;

    span {
        display: block;
    }
}

/* 원형 네비 메뉴바 */
.circular_nav {
    position: absolute;
    top: 300px;
    right: 5px;
    z-index: 999;
}

.circular_nav.active .nav_content > span {
    transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
    opacity: 1;
    cursor: pointer;
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);

    > span {
        position: absolute;
        transition: all 0.6s ease;
        opacity: 0;
    }

    > span > a {
        transform: rotate(45deg);
    }

    > span > a > i {
        font-size: 24px;
        color: #0e2431;
        transform: rotate(calc(var(--i) * (360deg / -8)));
    }

    > .toggle_btn,
    > span {
        width: 60px;
        height: 60px;
        background-color: $main-w-color;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 원형 네비 메뉴 토글러 */
    .toggle_btn {
        font-size: 35px;
        color: #0e2431;
        z-index: 1;
        cursor: pointer;
        transition: all 0.5s ease;
        transform: rotate(45deg);
    }

    .toggle_btn.active {
        transform: rotate(90deg);
    }
}

/****** 프로필 페이지 ******/
#kv_wrap {
    background: #111;
}

.kv {
    max-width: 1080px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.group_intro > h2 {
    color: #fff;
    font-size: 3.2vw;
    font-family: $nexon-font;
    display: table-cell;
    width: 40%;
    padding-right: 30px;
    white-space: nowrap;
}

.group_intro > p {
    color: #ddd;
    display: table-cell;
    width: 60%;
    font-family: "Pretendard-Regular";
    vertical-align: top;
    line-height: 27px;
    text-align: justify;
}

.group_intro {
    padding: 33px 220px 40px;
    display: table;
    width: 100%;
}

.intro_title > h2 {
    color: #fff;
    font-family: $nexon-font;
    vertical-align: middle;
    display: table-cell;
}

.members_inner {
    position: relative;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    display: table;
}

.intro_title {
    width: 25%;
    height: 25vw;
    float: left;
    text-align: center;
    display: table;
}

.profile_img > li > div {
    display: block;
    width: 100%;
    height: 100%;
}

.profile_img > * {
    float: left;
    width: 25%;
    height: 25vw;
}

.profile_img img {
    width: 100%;
    cursor: pointer;
}

.profile_img > li:first-child {
    margin-left: 0;
}

.profile_img > li {
    margin-left: 25%;
}

.profile_img li:nth-child(odd) {
    margin-left: 0;
}

.kv img {
    width: 100%;
}

#imbx {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    background-color: #fff;
    // 처음엔 안보임
    display: none;

    .imgbx {
        display: none;
        background: #111;
        color: #fff;

        .gimgDetail {
            padding: 0 70px;
            vertical-align: middle;
        }

        .gimg,
        .gimgDetail {
            display: table-cell;
            width: 50%;

            dt {
                font-size: 35px;
                margin-bottom: 25px;
                font-weight: 600;
                font-family: $noto-sans-font;
                display: inline-block;
            }

            dd {
                font-size: 17px;
                width: fit-content;
                letter-spacing: -0.06em;
            }
        }

        .close_btn {
            position: absolute;
            width: 90px;
            height: 90px;
            right: 0;
            background: url(../../public/images/profile/btn-close.png);
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}

// 스크롤시 등장하는 웨이브 텍스트
#bubblezSVG {
    position: fixed;
    height: 100%;
    width: 110%;
    top: 0;
    left: -5%;
    overflow: visible;
    z-index: -1;
}

#top {
    z-index: 2;
    pointer-events: none;
}

svg {
    fill: #fff;

    #text-path {
        font-family: "Pretendard-Regular";
    }
}

#textSVG {
    position: fixed;
    width: 110%;
    top: 40vh;
    left: -5%;
}

/****** 비디오 페이지 ******/
.contents_wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 40px 180px 25px;
    overflow: hidden;
    margin: 0 auto;

    .chkbx {
        position: relative;

        li {
            padding: 10px 0;
            font-size: 18px;

            ol > li:last-child {
                margin-top: -10px;
            }

            input[type="checkbox"] {
                display: none;
            }

            .spbtn {
                display: block;
                float: right;
                margin-right: 5px;
                font-size: 30px;
                line-height: 40px;
                cursor: pointer;
            }

            .chklb {
                float: right;
                display: block;
                width: 20px;
                height: 20px;
                background-color: #ccc;
            }
            input:checked + .chklb {
                position: relative;
                background-color: #d7266d;
                text-align: center;
                font-weight: bold;
            }
            input:checked + .chklb::before {
                content: "✓";
                position: absolute;
                top: -4px;
                left: 5px;
                color: #fff;
            }
        }
    }
}

.mttit {
    text-align: center;
    font-family: $nexon-font;
    font-size: min(42px, 5vw);
}

#sub_mv {
    display: flex !important;
    flex-wrap: wrap !important;
    
    .mvbx {
        padding-right: calc(1.5rem / 2);
        cursor: pointer;
    }
}

.mv_date {
    p:nth-child(1) {
        font-weight: 600;
        display: -webkit-box;
        overflow: hidden;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: min(15px, 1.25vw);
    }

    p:nth-child(2) {
        text-align: right;
        font-size: min(13px, 1vw);
    }
}

.play-button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30%;
    width: 68px;
    background: transparent;
    cursor: pointer;
}

/* 검색입력창 박스 */
.searching {
    position: relative;
    width: 250px;
    height: 40px;
    border: solid 1px #111;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 5px;

    svg {
        position: absolute;
        right: 15px;
    }
}
.searching input {
    width: 75%;
    position: absolute;
    font-size: 13px;
    left: 15px;
    height: 100%;
    background-color: transparent;
    border: none;
}
input:focus {
    outline: none;
}
.schbtn {
    cursor: pointer;
    margin-top: 9px;
    margin-left: 10px;
}

.restit > * {
    font-family: $kotra-font;
}

.listbx {
    width: 100%;
    padding-left: 20px;

    .sortbx {
        margin-top: 8px;
    }

    .restit {
        font-size: 1.5em;
        font-family: $kotra-font;
        font-weight: 600;
        border-bottom: 1px solid #b1b1b1;
        text-align: center;

        .inputVal {
            color: #d7266d;
        }
    }

    #gridRadio::before,
    #listRadio::before {
        content: "";
        display: inline-block;
        height: 16px;
        width: 16px;
        cursor: pointer;
    }

    #gridRadio {
        @include radio_btn_sty;

        &::before {
            -webkit-mask: url(../../public/images/video/grid_icon.svg) no-repeat;
            background: #000;
        }
    }

    input[type="radio"].on::before {
        background-color: #d7266d !important;
    }

    #listRadio {
        @include radio_btn_sty;

        &::before {
            -webkit-mask: url(../../public/images/video/list_icon.svg) no-repeat;
            background: #000;
        }
    }
}

h3.mv_item_tit {
    margin: 20px 0 15px 0;
}

.ifr_bg_bx {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    bottom: 0;

    .vid_ifr_wrap {
        position: absolute;
        min-height: calc(100% - 16rem);
        top: 45%;
        max-width: 800px;
        width: 100%;
        left: 50%;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -50%);
        gap: 10px 0;

        button {
            width: 1.75rem;
            align-self: flex-end;
            height: 1.75rem;
            background-color: inherit;
            cursor: pointer;

            &:hover {
                color: #d7266d;
            }
        }

        h3 {
            color: #fff;
            text-align: center;
        }

        .vid_ifr_inner {
            display: flex;
            flex-direction: column;

            iframe {
                width: 100%;
                height: 100%;
                border: none;
                position: absolute;
            }
        }
    }
}

/* 검색박스 */
.schbx {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    max-width: 1320px;
    min-height: 600px;
    padding: 20px;
}

/* 검색옵션박스 */
.schopt {
    height: fit-content;
}

/****** 앨범 페이지 ******/
.album_list li {
    position: relative;
    float: left;
    width: 30%;
    margin-right: 1.805%;
    margin-bottom: 1.805%;
    cursor: pointer;

    &:hover {
        .albumInfo_box {
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 20px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .txt_align {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    @include album_list;
                    font-size: min(19px, 2.5vw);
                    margin: 0;
                    margin-top: 10px;
                }

                h5 {
                    @include album_list;
                    font-size: min(13px, 1.5vw);
                }
            }
        }
    }
}

.txt_align {
    display: none;
}

#keyword_collection {
    width: 250px;
    position: absolute;

    .panels {
        position: relative;
        width: 100%;
        background: #fff;
        border: 1px solid #111;
        margin-top: 5px;
        border-radius: 10px;
        overflow: hidden;
        z-index: 9;
        display: none;

        li:hover span {
            background: #f3f3f3;
        }

        span {
            display: block;
            cursor: pointer;
            padding: 7px;
        }
    }
}

/****** 앨범 페이지 상세 ******/
.albumlist_wrap {
    padding: 157px 180px 131px;
    display: flex;

    .contents_right {
        position: relative;
        width: 600px;
        padding-left: 3.5vw;
        @include album_align;

        .album_info > p {
            text-align: justify;
        }

        .album_tit > p {
            font-size: 4vw;
            font-family: $nexon-font;
            text-shadow: $album_tit_shadow;
        }
    }

    .contents_left {
        position: relative;
        width: 500px;
        height: auto;
        @include album_align;

        .back_btn {
            position: absolute;
            top: -50px;
        }
    }
}

.release_date > p {
    font-size: 1.2vw;
    color: #000;
}

.track-list {
    text-align: center;

    .contents-title {
        font-family: $nexon-font;
        font-size: 4vw;
        text-shadow: $album_tit_shadow;
    }
}

.album_cover > img {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

/****** 갤러리 페이지 ******/
.gal1_cont {
    position: relative;
    width: 100%;
    overflow: hidden;

    ul > li {
        padding-bottom: 1.5vw;
    }

    .gal1_img2 {
        width: 12.5%;
        margin-left: 21.5%;
        margin-top: -23%;
    }

    .gal1_img1 {
        width: 30%;
        left: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .gal1_img3 {
        width: 13%;
        margin-top: -19%;
        margin-left: 66%;
    }

    .gal1_img8 {
        margin-top: 1%;
        margin-left: 1%;
    }

    .gal1_img7 {
        margin-top: 5%;
        margin-right: 1%;
    }

    .gal1_img4 {
        width: 23.5%;
        margin-left: 28%;
        margin-top: 1%;
    }

    .gal1_img5 {
        margin-top: -21.5%;
        margin-left: 68.5%;
        width: 13%;
    }

    .gal1_img6 {
        margin-top: -18%;
        margin-left: 53%;
        width: 14%;
    }
}

.contents_wrap > h3 {
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 20px;
}

.lft_rgt_btn_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    position: absolute;
    right: 0;
    left: 0;
    border: 1px solid #000;
    bottom: auto;
}

#go_prev_btn > svg,
#go_next_btn > svg {
    width: 20px;
    height: 10px;
    cursor: pointer;
}

#go_btn_dots > span {
    font-family: "Noto Serif KR", serif;
}

#go_next_btn {
    svg {
        transform: rotate(180deg);
    }
}

#go_btn_dots {
    padding: 0 30px;

    .chapter_1 {
        color: #000;
        font-weight: 600;
    }
}
