@charset "UTF-8";
@import url(./fonts.css);
@import url(../index.css);
@import url(./media.css);
/* 배경이미지박스 */
.bgbx {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 배너전체박스 */
.banbx {
  position: absolute;
  top: 50%;
  left: -10vw;
  width: 48vw;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: red;
  transform: translateY(-50%);
}

/* 배너컨텐츠박스 */
.bancont {
  position: relative;
  height: 360px;
  left: 5vw;
  top: -30%;
  aspect-ratio: 1/0.55;
}

.album_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(50%);
  flex-direction: column;
  display: flex;
  gap: 3vh 0;
}

/* 대상 슬라이드 */
.album_set {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.8s ease-in-out;
}

.album_set2 {
  top: -11vw;
  left: -5vw;
}

.album_set6 {
  top: 23vw;
  left: -5vw;
}

.album_set4 {
  left: 40vw;
}

.album_set:nth-child(2) {
  transform: translateX(0);
}

.album_set:nth-child(3) {
  transform: translateX(-25%);
}

.album_set:nth-child(4) {
  transform: translateX(-50%);
}

/* 우측 CD */
.album_cd1,
.album_cd2,
.album_cd3,
.album_cd4,
.album_cd5,
.album_cd6,
.album_cd7 {
  width: 360px;
  height: 100%;
  left: -112px;
  position: absolute;
  transform: translateX(73%);
  border-radius: 50%;
  /* CD 흰색 테두리 */
  /* CD 이미지 */
}
.album_cd1:before,
.album_cd2:before,
.album_cd3:before,
.album_cd4:before,
.album_cd5:before,
.album_cd6:before,
.album_cd7:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  border: 8px solid #fff;
  box-sizing: border-box;
}
.album_cd1 img,
.album_cd2 img,
.album_cd3 img,
.album_cd4 img,
.album_cd5 img,
.album_cd6 img,
.album_cd7 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.album_cd1 > .cd_center_circle,
.album_cd2 > .cd_center_circle,
.album_cd3 > .cd_center_circle,
.album_cd4 > .cd_center_circle,
.album_cd5 > .cd_center_circle,
.album_cd6 > .cd_center_circle,
.album_cd7 > .cd_center_circle {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 50%;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: 12px solid rgb(250, 250, 250);
  top: 50%;
  transform: translate(-50%, -50%);
}
.album_cd1 > .cd_center_circle:before,
.album_cd2 > .cd_center_circle:before,
.album_cd3 > .cd_center_circle:before,
.album_cd4 > .cd_center_circle:before,
.album_cd5 > .cd_center_circle:before,
.album_cd6 > .cd_center_circle:before,
.album_cd7 > .cd_center_circle:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px inset;
  transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  border: 8px solid rgb(238, 236, 235);
  box-sizing: border-box;
}

/* 좌측 Album */
.album_cover1 {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
  background-color: pink;
}

.album_cover2 {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
  background-color: #222;
}

.album_cover3 {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
  background-color: #da9438;
}

.album_cover4 {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
  background-color: #cc372b;
}

.album_cover5 {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
  background-color: #f7ba20;
}

.album_cover6 {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
  background-color: #d388eb;
}

.album_cover7 {
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
  z-index: 90;
  background-color: #373736;
}

.album_cover_inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 앨범 하단 출시년도 */
.release_date {
  color: #fff;
  bottom: 0;
}

/* 앨범명 */
em {
  font-size: 54px;
  font-weight: 300;
  color: white;
}

/* 앨범우측 저작권자 */
.original_author {
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  color: #fff;
}
.original_author span {
  display: block;
}

/* 원형 네비 메뉴바 */
.circular_nav {
  position: absolute;
  top: 300px;
  right: 5px;
  z-index: 999;
}

.circular_nav.active .nav_content > span {
  transform: rotate(calc(var(--i) * 45deg)) translateY(120px);
  opacity: 1;
  cursor: pointer;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  /* 원형 네비 메뉴 토글러 */
}
.nav_content > span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}
.nav_content > span > a {
  transform: rotate(45deg);
}
.nav_content > span > a > i {
  font-size: 24px;
  color: #0e2431;
  transform: rotate(calc(var(--i) * -45deg));
}
.nav_content > .toggle_btn,
.nav_content > span {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_content .toggle_btn {
  font-size: 35px;
  color: #0e2431;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: rotate(45deg);
}
.nav_content .toggle_btn.active {
  transform: rotate(90deg);
}

/****** 프로필 페이지 ******/
#kv_wrap {
  background: #111;
}

.kv {
  max-width: 1080px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.group_intro > h2 {
  color: #fff;
  font-size: 3.2vw;
  font-family: NEXONFootballGothicBA1;
  display: table-cell;
  width: 40%;
  padding-right: 30px;
  white-space: nowrap;
}

.group_intro > p {
  color: #ddd;
  display: table-cell;
  width: 60%;
  font-family: "Pretendard-Regular";
  vertical-align: top;
  line-height: 27px;
  text-align: justify;
}

.group_intro {
  padding: 33px 220px 40px;
  display: table;
  width: 100%;
}

.intro_title > h2 {
  color: #fff;
  font-family: NEXONFootballGothicBA1;
  vertical-align: middle;
  display: table-cell;
}

.members_inner {
  position: relative;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  display: table;
}

.intro_title {
  width: 25%;
  height: 25vw;
  float: left;
  text-align: center;
  display: table;
}

.profile_img > li > div {
  display: block;
  width: 100%;
  height: 100%;
}

.profile_img > * {
  float: left;
  width: 25%;
  height: 25vw;
}

.profile_img img {
  width: 100%;
  cursor: pointer;
}

.profile_img > li:first-child {
  margin-left: 0;
}

.profile_img > li {
  margin-left: 25%;
}

.profile_img li:nth-child(odd) {
  margin-left: 0;
}

.kv img {
  width: 100%;
}

#imbx {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background-color: #fff;
  display: none;
}
#imbx .imgbx {
  display: none;
  background: #111;
  color: #fff;
}
#imbx .imgbx .gimgDetail {
  padding: 0 70px;
  vertical-align: middle;
}
#imbx .imgbx .gimg,
#imbx .imgbx .gimgDetail {
  display: table-cell;
  width: 50%;
}
#imbx .imgbx .gimg dt,
#imbx .imgbx .gimgDetail dt {
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: 600;
  font-family: Noto Sans KR;
  display: inline-block;
}
#imbx .imgbx .gimg dd,
#imbx .imgbx .gimgDetail dd {
  font-size: 17px;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: -0.06em;
}
#imbx .imgbx .close_btn {
  position: absolute;
  width: 90px;
  height: 90px;
  right: 0;
  background: url(../../public/images/profile/btn-close.png);
  cursor: pointer;
}
#imbx img {
  width: 100%;
  height: 100%;
}

#bubblezSVG {
  position: fixed;
  height: 100%;
  width: 110%;
  top: 0;
  left: -5%;
  overflow: visible;
  z-index: -1;
}

#top {
  z-index: 2;
  pointer-events: none;
}

svg {
  fill: #fff;
}
svg #text-path {
  font-family: "Pretendard-Regular";
}

#textSVG {
  position: fixed;
  width: 110%;
  top: 40vh;
  left: -5%;
}

/****** 비디오 페이지 ******/
.contents_wrap {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 40px 180px 25px;
  overflow: hidden;
  margin: 0 auto;
}
.contents_wrap .chkbx {
  position: relative;
  top: 70px;
}
.contents_wrap .chkbx li {
  padding: 10px;
  font-size: 18px;
}
.contents_wrap .chkbx li ol > li:last-child {
  margin-top: -10px;
}
.contents_wrap .chkbx li input[type=checkbox] {
  display: none;
}
.contents_wrap .chkbx li .spbtn {
  display: block;
  float: right;
  margin-right: 5px;
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
}
.contents_wrap .chkbx li .chklb {
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
}
.contents_wrap .chkbx li input:checked + .chklb {
  position: relative;
  background-color: #d7266d;
  text-align: center;
  font-weight: bold;
}
.contents_wrap .chkbx li input:checked + .chklb::before {
  content: "✓";
  position: absolute;
  top: -4px;
  left: 5px;
  color: #fff;
}

.mttit {
  text-align: center;
  font-family: NEXONFootballGothicBA1;
  font-size: min(42px, 5vw);
}

#sub_mv {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}
#sub_mv .mvbx {
  width: 30%;
  cursor: pointer;
}

.mv_date p:nth-child(1) {
  font-weight: 600;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: min(15px, 1.25vw);
}
.mv_date p:nth-child(2) {
  text-align: right;
  font-size: min(13px, 1vw);
}

.play-button {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 30%;
  width: 68px;
  background: transparent;
  cursor: pointer;
}

/* 검색입력창 박스 */
.searching {
  position: relative;
  width: 250px;
  height: 40px;
  border: solid 1px #111;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 5px;
}
.searching svg {
  position: absolute;
  right: 15px;
}

.searching input {
  width: 75%;
  position: absolute;
  font-size: 13px;
  left: 15px;
  height: 100%;
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
}

.schbtn {
  cursor: pointer;
  margin-top: 9px;
  margin-left: 10px;
}

.restit > * {
  font-family: KOTRA_GOTHIC;
}

.listbx {
  width: 100%;
  padding-left: 20px;
}
.listbx .sortbx {
  margin-top: 8px;
}
.listbx .restit {
  font-size: 1.5em;
  font-family: KOTRA_GOTHIC;
  font-weight: 600;
  border-bottom: 1px solid #b1b1b1;
  text-align: center;
}
.listbx .restit .inputVal {
  color: #d7266d;
}
.listbx #gridRadio::before,
.listbx #listRadio::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.listbx #gridRadio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: middle;
  margin: 0px 4px;
}
.listbx #gridRadio::before {
  -webkit-mask: url(../../public/images/video/grid_icon.svg) no-repeat;
  background: #000;
}
.listbx input[type=radio].on::before {
  background-color: #d7266d !important;
}
.listbx #listRadio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: middle;
  margin: 0px 4px;
}
.listbx #listRadio::before {
  -webkit-mask: url(../../public/images/video/list_icon.svg) no-repeat;
  background: #000;
}

h3.mv_item_tit {
  margin: 20px 0 15px 0;
}

/* 검색박스 */
.schbx {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  max-width: 1320px;
  min-height: 600px;
  padding: 20px;
}

/* 검색옵션박스 */
.schopt {
  height: -moz-fit-content;
  height: fit-content;
}

/****** 앨범 페이지 ******/
.album_list li {
  position: relative;
  float: left;
  width: 30%;
  margin-right: 1.805%;
  margin-bottom: 1.805%;
  cursor: pointer;
}
.album_list li:hover .albumInfo_box {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.album_list li:hover .albumInfo_box .txt_align {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.album_list li:hover .albumInfo_box .txt_align h2 {
  vertical-align: middle;
  color: #fff;
  font-family: "$noto-sans-font";
  text-align: center;
  font-size: min(19px, 2.5vw);
  margin: 0;
  margin-top: 10px;
}
.album_list li:hover .albumInfo_box .txt_align h5 {
  vertical-align: middle;
  color: #fff;
  font-family: "$noto-sans-font";
  text-align: center;
  font-size: min(13px, 1.5vw);
}

.txt_align {
  display: none;
}

#keyword_collection {
  width: 250px;
  position: absolute;
}
#keyword_collection .panels {
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #111;
  margin-top: 5px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 9;
  display: none;
}
#keyword_collection .panels li:hover span {
  background: #f3f3f3;
}
#keyword_collection .panels span {
  display: block;
  cursor: pointer;
  padding: 7px;
}

/****** 앨범 페이지 상세 ******/
.albumlist_wrap {
  padding: 157px 180px 131px;
  display: flex;
}
.albumlist_wrap .contents_right {
  position: relative;
  width: 600px;
  padding-left: 3.5vw;
  float: left;
  width: 50%;
}
.albumlist_wrap .contents_right .album_info > p {
  text-align: justify;
}
.albumlist_wrap .contents_right .album_tit > p {
  font-size: 4vw;
  font-family: NEXONFootballGothicBA1;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.albumlist_wrap .contents_left {
  position: relative;
  width: 500px;
  height: auto;
  float: left;
  width: 50%;
}
.albumlist_wrap .contents_left .back_btn {
  position: absolute;
  top: -50px;
}

.release_date > p {
  font-size: 1.2vw;
  color: #000;
}

.track-list {
  text-align: center;
}
.track-list .contents-title {
  font-family: NEXONFootballGothicBA1;
  font-size: 4vw;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.album_cover > img {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

/****** 갤러리 페이지 ******/
.gal1_cont {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.gal1_cont ul > li {
  padding-bottom: 1.5vw;
}
.gal1_cont .gal1_img2 {
  width: 12.5%;
  margin-left: 21.5%;
  margin-top: -23%;
}
.gal1_cont .gal1_img1 {
  width: 30%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}
.gal1_cont .gal1_img3 {
  width: 13%;
  margin-top: -19%;
  margin-left: 66%;
}
.gal1_cont .gal1_img8 {
  margin-top: 1%;
  margin-left: 1%;
}
.gal1_cont .gal1_img7 {
  margin-top: 5%;
  margin-right: 1%;
}
.gal1_cont .gal1_img4 {
  width: 23.5%;
  margin-left: 28%;
  margin-top: 1%;
}
.gal1_cont .gal1_img5 {
  margin-top: -21.5%;
  margin-left: 68.5%;
  width: 13%;
}
.gal1_cont .gal1_img6 {
  margin-top: -18%;
  margin-left: 53%;
  width: 14%;
}

.contents_wrap > h3 {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 20px;
}

.lft_rgt_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  position: absolute;
  right: 0;
  left: 0;
  border: 1px solid #000;
  bottom: auto;
}

#go_prev_btn > svg,
#go_next_btn > svg {
  width: 20px;
  height: 10px;
  cursor: pointer;
}

#go_btn_dots > span {
  font-family: "Noto Serif KR", serif;
}

#go_next_btn svg {
  transform: rotate(180deg);
}

#go_btn_dots {
  padding: 0 30px;
}
#go_btn_dots .chapter_1 {
  color: #000;
  font-weight: 600;
}/*# sourceMappingURL=ban.css.map */