/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* notosans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Noto Serif Korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

/* notosanskr */
.notosanskr { 
    font-family: 'Noto Sans KR';
}

/* NEXONFootballGothicBA1 */
@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

