@charset "utf-8";

@media screen and (min-width: 930px) {
    .album_list li:nth-child(3n) {
        margin-right: 0;
    }
}

/* 앨범 페이지 */
@media screen and (max-width: 930px) {
    .contents_wrap {
        padding: 10.97vw 5.09vw 10vw !important;
    }

    .album_list li + li {
        width: 48.44%;
        margin-right: 3.12%;
        margin-bottom: 3.12%;
    }

    .album_list li:nth-child(2n-1) {
        margin-right: 0;
    }

    .album_list li:first-child {
        width: 100% !important;
        margin-right: 0 !important;
    }
}

/* 앨범 상세 페이지 */
@media screen and (max-width: 915px) {
    .albumlist_wrap {
        flex-wrap: wrap;
    }

    .albumlist_wrap .contents_left,
    .albumlist_wrap .contents_right {
        float: none !important;
        width: 100% !important;
        padding: 0 !important;
    }

    .album_tit {
        text-align: center;
    }

    #albumlist_bx {
        padding: 100px 5.5vw 5.09vw;
    }

    .albumlist_wrap {
        padding: 0 !important;
    }
}

/* 프로필 페이지 */
@media screen and (max-width: 1300px) {
    .group_intro {
        padding: 33px 160px 120px !important;
    }
}

@media screen and (max-width: 880px) {
    .conttents_tit,
    .contents-desc {
        display: block !important;
        width: 100% !important;
    }

    .contents-desc {
        padding-top: 5vh;
    }

    .group_intro {
        padding: 33px 50px 120px !important;
    }

    .group_intro > h2 {
        font-size: 4.5vw !important;
    }
}

@media screen and (max-width: 770px) {
    .intro_title {
        width: 50% !important;
        height: 50vw !important;
    }

    .profile_img > * {
        width: 50% !important;
        height: 50vw !important;
        margin-left: 0 !important;
    }

    .profile_img > li:nth-child(2) {
        margin-right: 50%;
    }
}

/* 비디오 페이지 */
@media screen and (max-width: 1090px) {
    #sub_mv {
        /* display: inline-block !important; */
        padding-right: 0;
        gap: 0 0.75rem;
    }
    .schbx {
        display: block !important;
    }

    .listbx {
        padding-left: 0 !important;
        margin-top: 20px;
    }

    #search_filter_bx {
        display: flex;
        flex-direction: column;
    }

    .video_wrap .mvbx {
        width: 100% !important;
    }

    .video_wrap.on .mvbx {
        width: calc(50% - 0.75rem) !important;
        padding-right: 0;
    }
}

@media screen and (min-width: 1090px) {
    .video_wrap.on .mvbx {
        width: 31% !important;
    }
}

@media screen and (max-width: 1700px) {
    .player {
        top: 51%;
        left: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .player {
      transform: translateX(-75%);
      top: 70%;
      left: 58%;
    }
}

/* @media screen and (max-width: 1300px) {
  .banbx {
    left: -60vw;
  }

  .player {
    left: 59%;
  }
}

@media screen and (max-width: 1180px) {
  .banbx {
    left: -65%;
  }
}

@media screen and (max-width: 1130px) {
  .banbx {
    left: -70%;
  }
}

@media screen and (max-width: 1080px) {
  .banbx {
    left: -75%;
    background: none !important;
  }

  .player {
    transform: translateX(-75%);
    top: 70%;
    left: 58%;
  }

  .album_cd1, .album_cd2, .album_cd3, .album_cd4, .album_cd5, .album_cd6, .album_cd7 {
    display: none;
  }

  .album_set {
    display: block;
    position: absolute;
  }

  .banbx::after {
    display: none;
  }
} */
