@charset "utf-8";

$main-w-color: #fff;
$msp-info-between: 200px;
$open-sans-font: 'Open Sans', sans-serif;
$icon-content: "\ebae";

/* 뮤직플레이어 */
.player {
	height: 190px;
	width: 430px;
	background-color: rgb(30, 33, 37);
	position: absolute;
	top: 50%;
	left: 50%;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;

  > ul li {
    display: inline-block;
  }

  > #arm{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 30px;
    left: 110px;
    transform: rotate(-45deg);
    background-image: url(../../public/images/player/controller.png);
    background-size: cover;
    z-index: 1;
  }
}

.artwork {
	position: absolute;
	height: 190px;
	width: 190px;
	background: url(../../public/images/player/lp.png) center no-repeat;
	background-size: cover;

  img {
    position: absolute;
    height: 72px;
    width: 72px;
    border-radius: 50px;
    top: 59px;
    left: 59px;
  }
}

.info {
  > h1 {
    margin: 20px 0 0;
    margin-left: $msp-info-between;
    font-size: 13pt;
    font-weight: 600;
    color: $main-w-color;
    font-family: $open-sans-font;
  }

  > h2 {
    margin-left: $msp-info-between;
    font-size: 13pt;
    font-weight: 300;
    color: $main-w-color;
    font-family: $open-sans-font;
  }

  > h4 {
    margin: 5px 0 10px;
    color: rgb(99, 99, 103);
    margin-left: $msp-info-between;
    font-size: 8pt;
    font-weight: 400;
  }

  > .button-items {
    margin-left: $msp-info-between;
  }
}

/* 플레이어 프로그레스바 */
#slider {
	width: 182px;
	height: 4px;
	background: rgb(21, 21, 24);
  margin-top: 15px;
	border-radius: 2px;

  #elapsed {
    height: 100%;
    background-color: rgb(239, 109, 188);
  }
}

/* 곡 현재 재생시간 / 전체시간 */
.timer {
	color: rgb(99, 99, 103);
  display: inline-block;
	font-size: 9pt;
	font-family: Arial, Sans-Serif;
  vertical-align: top;
}

#total_timer {
  float: right;
}

.controls {
  margin: 5px 0 0 -8px;

  span {
    display: inline-block;
  }

  span > i {
    font-size: 30px;
  }

  .play_song_btn {
    filter: brightness(0) invert(1);
    cursor: pointer;

    > img {
      width: 30px;
      vertical-align: bottom;
    }
  };
  
  .prev_song_btn > i:before,
  .play_song_btn > i:before,
  .next_song_btn > i:before {
    color: $main-w-color;
  }
}

.slider {
	width: 80px;
    position: absolute;
    display: inline-block;
    margin: 4px 0 0 10px;

    /* 볼륨조절바 */
    > .volume{
      width: 69px;
      height: 4px;
      background: rgba(239, 109, 188, 0.3);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      margin-top: 10px;
      position: inherit;
    }
}

input[type="range"] {
	appearance: none;
	width: 100%;
	border-radius: 14px;
	padding: 0px 1px;
	background: rgb(21, 21, 24);
  cursor: pointer;
}

/* 볼륨조절바 컨트롤러 */
input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: $main-w-color;
}

input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]::-webkit-slider-thumb:focus, input[type="range"]::-webkit-slider-thumb:active {
	background-color: rgb(239, 109, 188);
}